* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: antiquewhite;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 0.5rem;
    background-color: #880017;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

section {
    width: 90%;
    max-width: 40rem;
    min-width: 12rem;
    margin: auto;
}

.container {
    text-align: center;    
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
}

#chord-panel {
    margin: auto;
    text-align: center;
}

#chord-panel table {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    font-size: 1px;
}

#chord-panel table tr, #chord-panel table td {
    margin: 0;
    padding: 0;
}

.chord-title {
    font-size: 1.3rem;
    font-family: Tahoma, sans-serif;
    margin: 0 0 5px 15px;
    color: #880017;
}

.chord-def {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    background-color: #fff;
}

.chord-fret {
    color: blue;
    font-size: 1.1rem;
    margin: 25px 2px 0 0;
    float: left;
    width: 1.2rem;
}

.chord-nav {
    text-align: center;
    margin: 5px 0 0 15px;
    color: gray;
    font-family: sans-serif;
    font-size: small;
    height: 1rem;
}

.chord-nav a {
    text-decoration: none;
}

.controls-form {
    width: 90%;
    margin: 0.3rem auto;
}

.controls-form label {
    display: inline-block;
    font-weight: bold;
    margin-top: 1rem;
    width: 29%;
}

.controls-form input, .controls-form select {
    width: 68%;
}

.controls-form input[type="radio"], .controls-form input[type="radio"]+label {
    display: inline-block;
    width: auto;
}

.controls-form input, .controls-form select {
    border: 1px solid #cccccc;
    padding: 0.2rem rem 0.5rem;
    font: inherit;
}

.controls-form .button {
    margin-top: 1rem;
    display: inline-block;
    background: #880017;
    color: white;
    font: inherit;
    border: 1.5px solid #880017;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 40rem) {
    .controls-form {
        width: 60%;
    }
}